*{
  margin: 0;
  padding: 0;
}

.header{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/615D447B-5969-4B2B-BEF0-6CD16DEA984D.jpeg);
  background-position: center;
  background-size: cover;
  position: relative;
}
